@import url('https://fonts.googleapis.com/css?family=Days+One|Josefin+Sans');
/*estilos generales*/
body{
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  color:#1D1F20;
	background-color: #1D1F20;
}

.fondo{
	background-image: url("../assets/images/background.png");
	background-repeat: repeat;
}

.fondo-texto {
	background-color: white;
	padding: 12px;
	border-radius: 20px;
}

.palabras {
  font-size: 30px;
}
.navegador{
  background-color: #1D1F20;
}
/*nancy*/
#img-popoc{
	display: none;
	position: fixed;
	top: 0; 
	width: 100%;
	height: 100%;
	background:rgba(125,80,159,.5);
	text-align: center;
}
#imagen-modal{
	width: 50%;
	height: 50%;
}
#cerrar{
	font-size: 60px;
	color: red;
	margin-top: 60px;
	margin-left: 50px;
}
/*fin nancy*/
a {
	text-decoration: none;
	color:#0CA39D;
}
a:hover {
	color:#B40066;
}

.btn {
	background-color: #0CA39D;
	color:white;
	border:  2px solid #0CA39D;
	border-radius: 7px;
	padding: 10px 15px;
	margin-bottom: 30px;
}

#contenedor-chido {
	visibility:hidden;
}

li {
	list-style: none;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	color: green;
}

img{
  width: 40%;
}

/* estilos del tablero sopa de letras*/
table{
	border: solid 2px;
	border-color: #050430;
}
th{
	width: 30px;
	height: 30px;
	border: solid 1px #050430;
}

footer {
	background-color: #1D1F20;
	width: 100%;
	height: 100%;
	color:white;
	text-align: center;
}
